body{
	padding:20px;
	font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    max-width:1300px;
    border-radius:15px;
}

#map-canvas {
	width: 100%;
	height: 500px;
	background-color: #CCC;
	margin:10px 0;
}

.loginfield{
	margin:20px 0px;
}

.loginfield h3{
	text-align:center;
}

.loginfield .btn{
	margin-right:15px;
}

.outerbox{
	border-radius:15px;
	background-color:#eaeaea;
	padding:20px 70px;
}


/*** BUTTONS ***/
.btn{

}