{% extends 'outer.html' %}
 {% block body %}
    <div class="container-fluid">
    {% include 'components/navbar.html' %}
      <div class="row">
        <div class="col-md-12">
          <h1>
            Board.io
          </h1>
          <p>
            Welcome to Board.io. Below is a map with all the events that are going on nearby this week! See something interesting? Click on the event to be taken to it's detail page. If you'd like see more info about the event, confirm attendance, or message the even host, just go to the details page for that event from the table below.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="map-canvas"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Event Name
                </th>
                <th>
                  Event Date
                </th>
                <th>
                  Event Created By
                </th>
                <th>
                  Location
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="eventName" href="#">Garage Sale</a>
                </td>
                <td>
                  Date
                </td>
                <td>
                  <a class="eventCreator" href="#">@coolguy123</a>
                </td>
                <td>
                  <a class="eventAddress" href="#">333 Pender St</a>
                </td>
                <td>
                  This is a garage sale at my house. Please come on out!
                </td>
              </tr>
              <tr>
                <td>
                  <a class="eventName" href="#">Book Sale</a>
                </td>
                <td>
                  Date
                </td>
                <td>
                  <a class="eventCreator" href="#">@peterson1120</a>
                </td>
                <td>
                  <a class="eventAddress" href="#">AAA Book Store</a>
                </td>
                <td>
                  Come out to my charity book sale supporting starving African children!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


<script src="/javascripts/pinner.js"></script>
{% endblock %}
