{% extends 'outer.html' %}
 {% block body %}
    <div class="container-fluid">
    {% include 'components/navbar.html' %}
      <div class="row">
        <div class="col-md-12">
          <h1>
            Welcome to board.io
          </h1>
        </div>
      </div>
      <div class="row">

      <div class="col-md-6 loginfield">
        <div class="outerbox">
          <h3>
            Register Here
          </h3>
          <form class="form-horizontal" method="POST" action="/register">
            <div class="form-group">
              <div class="form-group">
                <label for="registerusername" class="col-sm-2 control-label">
                  Username
                </label>
                <div class="col-sm-10">
                  <input name="registerusername" class="form-control" id="registerusername" type="text">
                </div>
              </div>
              <label for="registeremail" class="col-sm-2 control-label">
              Email
              </label>
              <div class="col-sm-10">
                <input name="registeremail" class="form-control" id="registeremail" type="email">
              </div>
            </div>
            <div class="form-group">
              <label for="registerpassword" class="col-sm-2 control-label">
              Password
              </label>
              <div class="col-sm-10">
                <input name="registerpassword" class="form-control" id="registerpassword" type="password">
              </div>
            </div>
            <div class="form-group">
              <label for="registerpassword2" class="col-sm-2 control-label">
              Confirm Password
              </label>
              <div class="col-sm-10">
                <input name="registerpassword2" class="form-control" id="registerpassword2" type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="text-right">
                <button type="submit" class="btn btn-default">
                Complete Registration
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="col-md-6 loginfield">
        <div class="outerbox">
          <h3>
            Already a member? Log in here.
          </h3>
          <form class="form-horizontal" method="POST" action="/login">
            <div class="form-group">
              <label for="loginusername" class="col-sm-2 control-label">
              Username
              </label>
              <div class="col-sm-10">
                <input name="loginusername" class="form-control" id="loginusername" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="loginpass" class="col-sm-2 control-label">
              Password
              </label>
              <div class="col-sm-10">
                <input name="loginpass" class="form-control" id="loginpass" type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="text-right">
                <button type="submit" class="btn btn-default">
                Sign in
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}