      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="/index.html">Home</a>
            </li>
            <li>
              <a href="/addevent.html">Create an Event</a>
            </li>
            <li>
              <a href="/profile.html">Profile</a>
            </li>
            <li>
              <a href="#">Board Buddies</a>
            </li>
            <li>
              <a href="#">Log In</a>
            </li>
          </ul>
        </div>
      </div>