<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} - Board.io</title>
    <meta name="description" content="Board.io is geo-based activity finder.">
    <meta name="author" content="CMPT 470 Group 8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link  rel="stylesheet" href="stylesheets/style.css">

    <!-- put js below -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/nunjucks.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    {%- block body %}
      <!-- contents will go here -->
    {%- endblock %}
  </body>
</html>