<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav nav-tabs">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/createevent">Create an Event</a>
        </li>
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="#">Board Buddies</a>
        </li>
        <li>
          <a href="/login">Log In/Register</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>